fastapi
uvicorn
pydantic
jinja2
aiofiles
python-multipart
bcrypt
python-multipart
jinja2
passlib
python-jose
pydantic[email]
#pip install redis
#sudo apt-get install redis-server
pymongo
motor
boto3
jwt
bleach


